case $domain in
    gravitytales.com)
        start_separator='<div id="chapterContent"'
        end_separator='</div>'
        ;;
    www.wuxiaworld.com)
        start_separator='<div itemprop="articleBody"'
        end_separator='</div>'
        ;;
    boxnovel.com)
        start_separator='<div class="cha-tit"'
        end_separator='<div class="c-select-bottom">'
        ;;
    *)
        echo "Site $domain not supported!"
        exit
        ;;
esac
